<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Manage Admin</title>
   <link rel="page icon" type="icon" href="/fcahptib.png">
   <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="/style2.css">
   <style>
     .display-result{
         padding: 10px;
         margin: auto;
         overflow-x: scroll;
      }
      #adminData{
         width: 100%;
         border-collapse: collapse;
         font-family: Arial, Helvetica, sans-serif;
         overflow-x: scroll;
      }
      #adminData td, #adminData th{
         /* padding: 8px; */
         text-transform: capitalize;
         text-align: center;
         border-bottom: 1px solid #ddd;
      }
      #adminData th{
         background-color: rgb(175, 35, 35);
         color: white;
         font-size: 14px;
         text-align: center;
         padding: 10px;
      }
      #adminData td{
         font-size: 12px;
         background-color: #f2f2f2;
         justify-content: center;
      }
      .deletebtn{
        border: none;
        cursor: pointer;
        background-color: rgb(175, 35, 35);
        padding: 5px;
        font-size: 14px;
        font-family: calibri;
        border-radius: 2px;
        width: 70px;
      }
      .updatebtn{
        border: none;
        cursor: pointer;
        background-color:rgb(37, 164, 248);
        padding: 5px;
        font-size: 14px;
        font-family: calibri;
        border-radius: 2px;
        width: 70px;
      }
      .mydata{
        border: none;
        background: transparent;
        text-align: center;
      }
      .pagination{
        margin-top: 20px;
      }
   </style>
</head>
<body>
   <div class="header">
      <center><img src="/fcahptib.png" alt="" height="50"></center>
      <h3 style="color: white; font-family: calibri; text-align: center;">
          Administrator Section</h3>
  </div>
  <div class="menu-bar">
      <a href="/admin/dashboard">Dashboard</a>
      <!-- Academic Session -->
      <div class="dropdown">
         <button class="dropbtn">Session
           <i class="fa fa-caret-down"></i>
         </button>
         <div class="dropdown-content">
           <a href="/admin/update_session">Update academic session</a>
         </div>
       </div>  
       <!-- Academic Semester -->
       <div class="dropdown">
         <button class="dropbtn">Semester
           <i class="fa fa-caret-down"></i>
         </button>
         <div class="dropdown-content">
           <a href="/admin/update_semester">Update academic semester</a>
         </div>
       </div> 
      <!-- result section -->
      <div class="dropdown">
          <button class="dropbtn">Result
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/admin/upload_result">Upload result</a>
            <a href="/admin/manage_result">Manage result</a>
          </div>
        </div>        

        <!-- student section -->
        <div class="dropdown">
          <button class="dropbtn">Student
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/admin/add_student">Add student</a>
            <a href="/admin/manage_student">Manage student</a>
          </div>
        </div>
        <!-- Admin section -->
        <div class="dropdown">
          <button class="dropbtn">Admin
            <i class="fa fa-caret-down"></i>
          </button>
        <div class="dropdown-content">
          <a href="/admin/add_admin">Add New Admin</a>
          <a href="/admin/manage_admin">Manage Admin</a>
        </div>
        </div>
      <!-- course section -->
      <div class="dropdown">
          <button class="dropbtn">Course
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/admin/add_course">Add course</a>
            <a href="/admin/manage_course">Manage courses</a>
          </div>
        </div>
      <a href="/admin/logout" id="logout">Logout</a>
      <a href="/admin/change_password">Change Password</a>
  </div>
 
   <div class="display-result">
    <p style="margin: 10px 0px 0px 30px; font-size: 21px; font-family: 'Times New Roman', Times, serif">
      Manage Admin</p>
      <table id="adminData">
        <thead>
         <tr>
         <th>S/N</th>
         <th>Username</th>
         <th>Password</th>
         <th>Action</th>
         
         </tr>
         </thead>

         <%for(let i = 1; i < result.length; i++){%>
         <%result.forEach(res => {%>
          <tbody>
         <tr id="data">
            <td><%=i++%></td>
            <td><%=res.username%></td>
            <td><input type="password" value="<%=res.password%>" disabled></td>
            <td style="display: flex; gap: 10px;">
              <button class="updatebtn">Update<i class="fa fa-edit"></i>
              </button>
              <button class="deletebtn">Delete<i class="fa fa-trash-o"></i>
              </button></td>
         </tr>
        </tbody>
         <%})%>
         <%}%>
      </table>

      <div class="pagination">
        <button id="prevBtn" onclick="prevPage()">Previous</button>
        <span id="pageNumber"></span>
        <button id="nextBtn" onclick="nextPage()">Next</button>
    </div>
    
   </div>
   
   <div class="footer">
    <footer>
      <p style="font-size: 15px; text-align: center;
      font-style: normal; color: gray;">
      <span id="cr"></span> &copy;FCAHPTIB.</p>
      <p style="font-size: 14px; text-align: center;
      font-style: normal; color: gray;">Designed by Adeola Quadri. A</p>
      <p style="font-size: 14px; text-align: center;
      font-style: normal; color: gray;">Supervised by Dr. Mrs Olarenwaju O T.</p>
   </footer>
      </div>
    <script>
  let date = new Date
  document.getElementById("cr").innerHTML = date.getFullYear();

  document.querySelector('#logout').addEventListener('click', (e)=>{
      if(confirm('Are sure you want to logout?') == true){
       fetch('/admin/logout',{
       method: 'get'})
      }else{
       e.preventDefault()
   }
   
})
// document.querySelector('#deletestd').addEventListener('click', (e)=>{
//       if(confirm('Are sure you want to logout?') == true){
//       window.location.href = "/admin/dashboard"
//       }else{
//        e.preventDefault()
//    }
// })
function del(){
  var parent = document.getElementById("std")
  var data = document.getElementById('data');
  data.remove()
}
function edit(){
  document.getElementById('input').attributes.type = 'text'
}


    </script>
</body>
</html>