<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="page icon" type="icon" href="/fcahptib.png">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <title>Admin Signup</title>
    <style>
        *{
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color: gainsboro;
        }
        .form{
            margin: auto;
            height: fit-content;
            width: fit-content;
            margin-top: 5%;
            background: #fff;
            padding: 1%;
            border-top: 3px solid rgb(167, 50, 50);
            /* border-bottom: 3px solid rgb(167, 50, 50); */
        }
        label{
            font-size: 14px;
            font-family: calibri;
        }
        input{
            outline: none;
            border: none;
            border: 1px solid black;
            border-radius: 1px;
            width: 200px;
            padding: 3%;
        }
        button{
            width: 100%;
            font-size: 16px;
            font-family: calibri;
            outline: none;
            border: none;
            padding: 5px;
            cursor: pointer;
            background-color: rgb(167, 50, 50);
            border: transparent;
            border-radius: 5px;
            color: #fff;
        }
        h3{
            font-size: 22px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 400;
            text-align: center;
            border-bottom: 1pt solid gainsboro;
        }
        .footer{
            display: flex;
            justify-content: center;
            padding: 2%;
}
    </style>
</head>
<body>
    <div class="form">
        <center><img src="fcahptib.png" alt="" height="50"></center>
        <h3>Register as an Admin </h3><br><br>
            <label for="">Username:</label><br>
            <div class="studentID" style="border: 1px solid black;">
                <i class="fa fa-fw fa-user" style="font-size: 23px; color: #00000091;"></i>
                <input type="text" name="username" id="username" style="border: none;" required />
            </div><br>

            <label for="">Password:</label><br>
            <div class="studentID" style="border: 1px solid black;">
                <i class="fa fa-fw fa-lock" style="font-size: 23px;color:#00000091;"></i>
                <input type="password" placeholder="*******************" name="password" id="password" style="border: none;" required />
            </div><br>

            <label for="">Secret Key:</label><br>
            <div class="studentID" style="border: 1px solid black;">
                <i class="fa fa-fw fa-lock" style="font-size: 23px;color:#00000091;"></i>
                <input type="password" placeholder="*******************" name="password" id="secretkey" style="border: none;" required />
            </div><br>
            <button id="signup">Signup</button><br>
            <br><span>Already an exist admin? <a href="/admin">Sign in</a></span>
    </div>
    <div class="footer">
        <footer>
          <p style="font-size: 15px; text-align: center;
          font-style: normal; color: gray;"> &copy; <span id="cr"></span> FCAHPTIB.</p>
          <p style="font-size: 14px; text-align: center;
          font-style: normal; color: gray;">Designed by Adeola Quadri. A</p>
          <p style="font-size: 14px; text-align: center;
          font-style: normal; color: gray;">Supervised by Dr. Mrs Olarenwaju O T.</p>
       </footer>
        </div>
        
    <script>
      let date = new Date
      document.getElementById("cr").innerHTML = date.getFullYear();

document.querySelector('#signup').addEventListener('click', ()=>{   
const username = document.getElementById("username").value;
const password = document.getElementById("password").value;
const secretkey = document.getElementById("secretkey").value;

const data = {
  username: username,
  password: password,
  secretkey: secretkey
};
signup(data)
});

function signup(data){
fetch('/admin/signup', {
  method: 'POST',
  headers:{
    'Content-Type': 'application/json',
  },
  body:JSON.stringify(data)
})
.then(response => {response.json();
  if(response.status === 201){
    alert(`Admin created Successfully!`);
  }else if(response.status === 403){
    alert('Admin already exist! Registration closed.');
  }else{
    alert('Error registering admin...');
  }
  })
}
    </script>
</body>
</html>